<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <nav id="nav-common"></nav>

    <section container>
      <h3>Авторизация</h3>

      <form method="post">
        <fieldset>
          <legend>Введите свои данные</legend>

          <div>
            <label for="email">Эл. почта</label>
            <input type="email" name="email" id="email">
          </div>

          <div>
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password">
          </div>

          <div>
            <input type="submit" value="Отправить">
          </div>
        </fieldset>
      </form>
    </section>
  
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/au/static/js/html-inclusion.js"></script>
  </body>
</html>
