<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
  </head>

  <body>
    <header id="navbar-for-unauthorized-users"></header>

    <!-- TODO. Find a way to take away the nav. -->
    <nav>
      <header>
        <a href="#">Санаторий</a>
      </header>
      <input type="checkbox" id="nav" hidden checked />
      <div overflow>
        <ul>
          <!--active link in navbar with active attribute-->
          <li><a href="#">Авторизация</a></li>
          <li><a href="#">Регистрация</a></li>
        </ul>
      </div>
    </nav>

    <main>

    </main>
  </body>
</html>
