<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav>
      <?php include TOP_DIR . "/navbar/common.php"; ?>
    </nav>

    <section container>
      <h3>Регистрация</h3>

      <form method="post">
        <fieldset>
          <legend>Введите свои данные</legend>

          <div>
            <label for="email">Эл. почта</label>
            <input type="email" name="email" id="email" />
          </div>

          <div>
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" />
          </div>

          <div>
            <label for="first-name">Имя</label>
            <input type="text" name="first-name" id="first-name" />
          </div>

          <div>
            <label for="last-name">Фамилия</label>
            <input type="text" name="last-name" id="last-name" />
          </div>

          <div>
            <input type="submit" value="Отправить">
          </div>

          <?php
          if (isset($user_created_successfully)) {
            echo "
              <div class='color-of-success-message'>
                {$user_created_successfully}
              </div>
            ";
          } elseif (isset($user_hasnt_been_created)) {
            echo "
              <div class='color-of-failure-message'>
                {$user_hasnt_been_created}
              </div>
            ";
          }
          ?>
        </fieldset>
      </form>
    </section>
  </body>
</html>
