<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav>
      <?php include TOP_DIR . "/navbar/customer.php" ?>
    </nav>

    <section container>
      <h3>Создать новый отзыв</h3>

      <form method="post">
        <fieldset>
          <legend>Пожалуйста, введите данные</legend>

          <div class="grid grid-two-columns-wrapper">
            <label for="room-number">Номер комнаты</label>

            <select name="room-number" id="room-number">
              <?php
              foreach ($rooms as $room) {
                echo "
                  <option value='{$room->number}'>{$room->number}</option>
                ";
              }
              ?>
            </select>

            <label for="coming-date">Дата заселения</label>
            <input type="date" name="coming-date" id="coming-date" required>

            <label for="leaving-date">Дата выселения</label>
            <input type="date" name="leaving-date" id="leaving-date" required>

            <span>Список оказанных услуг</span>
            <div class="basic-div">
              <?php
              foreach ($provided_services as $provided_service) {
                $identifier = $service_obj_prefix . $provided_service->id;
                echo "
                  <span>
                    <input type='checkbox' name='{$identifier}' id='{$identifier}'>
                    <label for='{$identifier}'>{$provided_service->name}</label>
                  </span>
                ";
              }
              ?>
            </div>
          </div>

          <div class="margin-top-down">
            <label for="review-text">Текст отзыва</label>
            <textarea name="review-text" id="review-text" cols="30" rows="10" required></textarea>
          </div>

          <div>
            <input type="submit" value="Отправить">
          </div>

          <?php
          if (isset($review_created_successfully)) {
            echo "
              <div class='color-of-success-message'>
                {$review_created_successfully}
              </div>
            ";
          } elseif (isset($review_hasnt_been_created)) {
            echo "
              <div class='color-of-failure-message'>
                {$review_hasnt_been_created}
              </div>
            ";
          }
          ?>
        </fieldset>
      </form>
    </section>
  </body>
</html>
