<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav id="nav-customer"></nav>

    <section container>
      <h3>Отзыв от ХХ.ХХ.ХХХХ</h3>

      <div id="review-data-table" overflow></div>
    </section>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/au/static/js/html-inclusion.js"></script>
    <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  </body>
</html>
