<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav id="nav-customer"></nav>

    <section container>
      <h3>Мой отзыв от ХХ.ХХ.ХХХХ</h3>

      <div overflow>
        <table class="max-width">
          <thead>
            <tr>
              <th>Параметр</th>
              <th>Значение</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Номер комнаты</td>
              <td>XXX</td>
            </tr>

            <tr>
              <td>Дата заселения</td>
              <td>XXX</td>
            </tr>

            <tr>
              <td>Дата выселения</td>
              <td>XXX</td>
            </tr>

            <tr>
              <td>Список оказанных услуг</td>
              <td>XXX</td>
            </tr>

            <tr>
              <td>Статус отзыва</td>
              <td>XXX</td>
            </tr>

            <tr>
              <td>Текст отзыва</td>
              <td>XXX</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/au/static/js/html-inclusion.js"></script>
    <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  </body>
</html>
