<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav id="nav-customer"></nav>

    <section container>
      <h3>Мои отзывы</h3>

      <div>
        <p>
          <b>Дополнительные действия</b>
        </p>

        <ul>
          <li>
            <a href="#">Оставить новый отзыв</a>
          </li>

          <li>
            <a href="">Удалить все свои отзывы</a>
          </li>
        </ul>
      </div>

      <div>
        <p>
          <b>Список моих отзывов</b>
        </p>

        <div class="grid grid-list-wrapper">
          <div>Отзыв от ХХ.ХХ.ХХ</div>

          <a href="#" class="inline-elements">
            <div>Изменить</div>
          </a>

          <a href="#" class="inline-elements">
            <div>Удалить</div>
          </a>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/au/static/js/html-inclusion.js"></script>
    <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  </body>
</html>
