<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav id="nav-customer">
      <?php include TOP_DIR . "/navbar/customer.php"; ?>
    </nav>

    <section container>
      <h3>Мои отзывы</h3>

      <div>
        <p>
          <b>Дополнительные действия</b>
        </p>

        <ul>
          <li>
            <a href='<?=$urls["create_review_page"]?>'>Оставить новый отзыв</a>
          </li>

          <li>
            <a href='<?=$urls["delete_review_page"]?>'>Удалить все свои отзывы</a>
          </li>
        </ul>
      </div>

      <div>
        <p>
          <b>Список моих отзывов</b>
        </p>

        <?php
        foreach ($reviews_list as $review) {
          echo "
            <div class='grid grid-list-wrapper'>
              <a href='{$urls["this_review_page"]}?id={$review->id}' class='inline-elements'>
                Отзыв от
                {$review->date_of_writing}
              </a>

              <a href='{$urls["edit_review_page"]}?id={$review->id}' class='inline-elements'>
                <div>Изменить</div>
              </a>

              <a href='{$urls["delete_review_page"]}?id={$review->id}' class='inline-elements'>
                <div>Удалить</div>
              </a>
            </div>
          ";
        }
        ?>
      </div>
    </section>

    <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  </body>
</html>
