<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav id="nav-admin">
      <?php include TOP_DIR . "/navbar/admin.php"; ?>
    </nav>

    <section container>
      <h3>
        Проверка отзыва от 
        <?=$review->date_of_writing?>
      </h3>

      <div class="margin-top-down">
        <form method="post">
          <fieldset>
            <legend>Панель проверки</legend>

            <div>
              <p><b>Текст отзыва</b></p>
              <div><?=$review->text?></div>
            </div>

            <div>
              <p><b>Статус отзыва</b></p>
  
              <div class="basic-div">
                <?php
                foreach ($review_statuses_list as $review_status) {
                  echo "
                    <div class='inline-elements basic-div'>
                      <input type='radio' name='review-status' id='{$review_status_prefix}{$review_status->id}' value='{$review_status_prefix}{$review_status->id}' required>
                      <label for='{$review_status_prefix}{$review_status->id}'>{$review_status->name}</label>
                    </div>
                  ";
                }
                ?>
              </div>
            </div>

            <div class="margin-top-down">
              <label for="comment"><b>Комментарий администратора</b></label>
              <textarea name="comment" id="comment" cols="30" rows="10" required></textarea>
              <p>Важно! Комментарий отправляется пользователю на эл. почту.</p>
            </div>

            <div>
              <input type="submit" value="Принять">
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </body>
</html>
