<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav id="nav-admin"></nav>

    <section container>
      <h3>Отзыв от ХХ.ХХ.ХХХХ</h3>

      <div id="review-data-table" overflow></div>

      <div class="margin-top-down">
        <form method="post">
          <fieldset>
            <legend>Панель проверки</legend>

            <div>
              <p><b>Статус отзыва</b></p>
  
              <div>
                <input type="radio" name="status" id="status">
                <label for="status">Статус</label>
              </div>
            </div>

            <div class="margin-top-down">
              <label for="comment"><b>Комментарий администратора</b></label>
              <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            </div>

            <div>
              <input type="submit" value="Принять">
            </div>
          </fieldset>
        </form>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/au/static/js/html-inclusion.js"></script>
    <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  </body>
</html>
