.grid {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.grid-list-wrapper {
  grid-template-columns: 8fr 1fr 1fr;
}

.grid-two-columns-wrapper {
  grid-template-columns: 1fr 1fr;
}

.inline-elements {
  display: flex;
  flex-direction: row;
}

.inline-elements > * {
  margin-left: 0.5rem;
}

.max-width {
  width: 100%;
}

.margin-top-down {
  margin: 1rem 0;
}

.color-of-success-message {
  color: green;
}

.color-of-failure-message {
  color: red;
}

.basic-div {
  margin: 0;
}