.grid {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.grid-list-wrapper {
  grid-template-columns: 8fr 1fr 1fr;
}

.grid-two-columns-wrapper {
  grid-template-columns: 1fr 1fr;
}

.inline-elements {
  display: flex;
}

.inline-elements > * {
  margin-left: 0.5rem;
}

.max-width {
  width: 100%;
}

form div {
  all: initial;
  display: block;
}

.margin-top-down {
  margin: 1rem 0;
}