<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Санаторий</title>
    <link rel="stylesheet" href="/au/static/css/brightlight-green.css" />
    <link rel="stylesheet" href="/au/static/css/main.css" />
  </head>

  <body>
    <nav>
      <?php include TOP_DIR . "/navbar/admin.php" ?>
    </nav>
    
    <section container>
      <h3>Добавить информацию об оказанных услугах</h3>

      <form method="post">
        <fieldset>
          <legend>Пожалуйста, введите данные</legend>

          <div class="grid grid-two-columns-wrapper">
            <label for="user-id">Имя пользователя</label>
            
            <select name="user-id" id="user-id">
              <?php
              foreach ($users as $user) {
                echo "
                  <option value='{$user->id}'>{$user->first_name} {$user->last_name}</option>
                ";
              }
              ?>
            </select>
            
            <span>Список оказанных услуг</span>
            
            <div class="basic-div">
              <?php
              foreach ($available_services as $available_service) {
                $identifier = $service_obj_prefix . $available_service->id;
                echo "
                  <span>
                    <input type='checkbox' name='{$identifier}' id='{$identifier}'>
                    <label for='{$identifier}'>{$available_service->name}</label>
                  </span>
                ";
              }
              ?>
            </div>
          </div>
          
          <div>
            <input type="submit" value="Отправить">
          </div>
          
          <?php
          if (isset($provided_services_updated_successfully)) {
            echo "
              <div class='color-of-success-message'>
                {$provided_services_updated_successfully}
              </div>
            ";
          } elseif (isset($provided_services_hasnt_been_updated)) {
            echo "
              <div class='color-of-failure-message'>
                {$provided_services_hasnt_been_updated};
              </div>
            ";
          }
          ?>
        </fieldset>
      </form>
    </section>
  </body>
</html>
